<title>瑞安编程站</title> 
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

<p style="text-align: center;"><span style="font-size: 24pt; font-family: 'times new roman', times, serif; color: #00ffff;"><strong>欢迎来到本站！</strong></span><br>
<p style="text-align: center;"><span style="font-size: 18pt;"><a href="Count-down"><span style="font-family: impact, sans-serif; color: #ffff00;">Html动画大全</span></a></span><br>
<p style="text-align: center;"><span style="font-size: 18pt;"><a href="play"><span style="font-family: impact, sans-serif; color: #ffff00;">游戏大全</span></a></span><br>
<p style="text-align: center;"><span style="font-size: 18pt;"><a href="Count-down"><span style="font-family: impact, sans-serif; color: #ffff00;">倒计时开放平台</span></a></span><br>
<p style="text-align: center;"><span style="font-size: 18pt;"><a href="chatbot"><span style="font-family: impact, sans-serif; color: #ffff00;">网站客服</span></a></span><br>
<p style="text-align: center;"><span style="font-size: 18pt;"><a href="yanzheng"><span style="font-family: impact, sans-serif; color: #ffff00;">身份验证</span></a></span><br>

<body background="http://static.runoob.com/images/mix/maxresdefault.jpg">
<strong>
<center>
<span id="showsectime" style="color:#FF0000;"></span>
<script type="text/javascript">
function NewDate(str) { 
str = str.split('-'); 
var date = new Date(); 
date.setUTCFullYear(str[0], str[1] - 1, str[2]); 
date.setUTCHours(0, 0, 0, 0); 
return date; 
} 
function showsectime() {
var birthDay =NewDate("2020-3-30");
var today=new Date();
var timeold=today.getTime()-birthDay.getTime();
var sectimeold=timeold/1000
var secondsold=Math.floor(sectimeold);
var msPerDay=24*60*60*1000; var e_daysold=timeold/msPerDay;
var daysold=Math.floor(e_daysold);
var e_hrsold=(daysold-e_daysold)*-24;
var hrsold=Math.floor(e_hrsold);
var e_minsold=(hrsold-e_hrsold)*-60;
var minsold=Math.floor((hrsold-e_hrsold)*-60); var seconds=Math.floor((minsold-e_minsold)*-60).toString();
document.getElementById("showsectime").innerHTML = "本站已安全运行"+daysold+"天"+hrsold+"小时"+minsold+"分"+seconds+"秒";
setTimeout(showsectime, 1000);
}showsectime();
</script>
<strong>

<ml>
</ml></center>

    </strong>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
