*{ margin:0; padding:0;}
body{background:#f3f3f3 url(../images/background.jpg) repeat center bottom; TEXT-ALIGN: center;overflow:hidden;}
a:link,a:visited,a:active{ color:#00b019; text-decoration:none; font-size:12px;star:expression(this.onFocus=this.blur());}
a:hover{ color:#f60; text-decoration:underline;font-size:12px;}
a:focus {outline:0;}
ul,dl,li,dd,dl { list-style:none;}

#head { position:fixed;background:#292b2e;top:0;width:100%;z-index:999; height:80px; _position:absolute;_top:expression(eval(document.documentElement.scrollTop));}
#logo { background:url(../css/Logo.jpg) no-repeat 0 0; width:190px; height:80px; float:left;}
#logo a { display:block; width:190px; height:80px; text-indent:-9999em;}
#nav { width:1000px; overflow:hidden; margin:0 auto; height:80px;}
#nav ul { float:right;border-right:1px solid #484a4c;}
#nav ul li { float:left; width:120px; height:80px; border-left:1px solid #484a4c;}
#nav ul li a { display:block; width:120px; height:80px; text-align:center; color:#fff; font:bold 16px/80px "微软雅黑","宋体";text-shadow: 1px 1px 1px #000}
#nav ul li a:hover { background:#f90; text-decoration:none}

#content {position: relative;height: 100%;margin: 0 auto;padding: 10%;}
#live_box{ width:1000px; height:565px; overflow:hidden; margin:0 auto;}
#live_box dl dt{ height:35px; line-height:35px;margin-bottom:20px;}
#live_box dl dt h1{ font-size:32px; font-family:"微软雅黑","黑体"; color:#fff; font-weight:normal; float:left;}
#live_box dl dt div{ float:right; font-size:12px;}
#live_box dl dd ul{ width:1000px; height:565px; overflow:hidden;}
#live_box dl dd ul li{ width:240px; height:120px; overflow:hidden;float:left; margin:5px;_margin:4px; _display:inline; padding:1px; opacity:0.9;filter:alpha(opacity=90); position:relative;}
#live_box dl dd ul li span{ display:none;}
#live_box dl dd ul li span a{ color:#fff; font-family:"微软雅黑"; font-size:12px; text-decoration:none;}
#live_box dl dd ul li:hover span{ text-align:center; background:#000; height:20px; line-height:20px;opacity:0.1;filter:alpha(opacity=10); display:block; position:absolute; bottom:0; left:0; width:100%;}
#live_box dl dd ul li a img{  width:240px; height:120px; overflow:hidden; margin:0; padding:0; border:none;}
#live_box dl dd ul li:hover{opacity:1;filter:alpha(opacity=100); padding:0px; border:1px dashed #fcfcfc;}
#live_box dl dd ul li[class="one"]{ margin-left:0; }
#live_box dl dd ul li[class="four"]{ margin-right:0}
#logo_001{background:#edebef;}
#logo_002{background:#292929;}
#logo_003{background:#ffffff;}
#logo_004{background:#1c0c01;}
#logo_005{background:#6b22ac;}
#logo_006{background:#ffffff;}
#logo_007{background:#ffffff;}
#logo_008{background:#a3bd1b;}
#logo_009{background:#ffffff;}
#logo_010{background:#e1e0e0;}
#logo_011{background:#ffffff;}
#logo_012{background:#177cc4;}
#logo_013{background:#ffffff;}
#logo_014{background:#408300;}
#logo_015{background:#f8fbf4;}
#logo_016{background:#f8fbf4;}

#foot{ background:#333; z-index:999;padding:10px 0; text-align: center; color:#999; font:14px/30px Verdana,"\5B8B\4F53";position:absolute;width: 100%;bottom:0;}
#foot a{ color:#999; font-size:14px;}
#foot a:hover{ color: #ccc;}